
body {
  background: #03142D url(/images/background.jpg) no-repeat center 0;
  background-size: 100%;
  color: #FFF;
  font-family: 'Roboto', 'Helvetica-Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  color: #FFFFFF;
  /* font-family: 'Abril Fatface', cursive; */
  font-size: 56px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}


section {
  padding: 40px 20px;
  margin: 0;
}

.main {
  margin: 300px 0 0 0;
}

.dates {
  color: #FFD5AE;
  font-size: 22px;
  text-transform: uppercase;
}

.hosts {
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.hosts a:link {
  color: #FFF;
}

.hosts a:hover, .hosts a:active {
  color: #6E60BD;
}

h1.title {
  margin-bottom: 20px;
}

h1.about, h1.location {
  color: #000;
}

.guest-speaker {
  background: #03142D;
  color: #FFF;
  font-weight: 900;
}

.guest-speaker p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
}

.avatar {
  /* background: url(/images/paul-avatar.png) no-repeat 0 0; */
  /* width: 106px; */
  /* height: 106px; */
  /* display: inline-block; */

}

.about {
  background: #FFD5AE;
  color: #000000;
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 400;
}

.location {
  background: #F2C79F;
  color: #000000;
}


.button {
  background: #F2C79F;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  text-align: center;
  padding: 10px 15px;
  font-weight: 700;

}
