
body {
  background: #03142D url(images/background.jpg) no-repeat 0 0;
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  color: #FFFFFF;
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
}

.container {
  max-width: 640px;
  margin: 100px 20px;
}

section {
  margin: 1em 1em;
}

.guest-speaker {
  background: #0F0932;
  color: #FFF;
}
.about {
  background: #FFD5AE;
  color: #000000;
}

.location {
  background: #F2C79F;
  color: #000000;
}
